body {
    font-family: Arial, sans-serif;
    background-color: #bfdddf;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

.annonces-list {
    list-style-type: none;
    padding: 0;
}

.annonce-item {
    background: #f9f9f9;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.annonce-item h3 {
    margin: 0 0 10px;
    color: #ae69b4;
}

.annonce-item p {
    margin: 5px 0;
    color: #d185d1;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d69ae2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
}

form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

form label {
    margin-bottom: 5px;
    display: block;
    color: #333;
    font-weight: bold;
}

form input,
form textarea,
form select,
form button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #f092e3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #e688e6;
}

form .form-group {
    margin-bottom: 15px;
}


  